/* Base Styles */

body { 
    background-color: #eee4f0;
    font-family:Arial, Helvetica, sans-serif;
    color: #351D77;
}

/* Grid */

.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}

/* Header */

header {
    height: 800px;
}

header h1 { 
    font-size: 30px;
}

nav {
    float: right; 
}

nav ul li{
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
}

header h2 {
    width: 1000px;
    clear: both;
    font-size: 72px;
    line-height: 80px;
    padding: 20px 0 20px 25px;
}



/* About */

 img {
    height: 400px;
    width: 300px;
 }
