/* Base Styles */

body { 
    background-color: #eee4f0;
    font-family:Arial, Helvetica, sans-serif;
    color: #351D77;
}


/* Grid */

.full-width {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}
.half-width {
    width: 50%;
    float: left;
}
.third-width {
    width: 33%;
    float: left;
}


/* Header */

header {
   display: flex;
   flex-wrap: wrap;
}

header h1 { 
    font-size: 2em;
}

nav {
    float: right; 
}

nav ul li{
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
}

header h2 {
    width: 100%;
    clear: both;
    font-size: 72px;
    line-height: 80px;
    padding: 20px 0 20px 25px;
}


/* About */

#aboutme {
    height: auto;
}

#aboutme img {
    max-width: 100%;
    height: auto;
 }

 #aboutme p {
    font-size: 18px;
    text-align: center;
}

/* Skills */

#skills h2, h3, p {
    text-align: center;
}


/* Projects */

#projects h2, h3, p {
    text-align: center;
    padding: 10px;
}

#projects img {
    max-width: 100%;
    height: auto;
  }

/* Contact */

#contact h3,
.center {
  display: block; 
  margin: 0 auto;
  text-align: center;
  width: 20%;
}
/* Media Queries */

/* Mobile styles */
@media (max-width: 480px) {

    .half-width {
      width: 100%; 
    }
    
    img {
      width: 100%;
    }
  
  }

/* Tablet Styles */
@media (min-width: 481px) and (max-width: 768px) {

    .half-width {
      width: 100%;
    }
  
    #contact h3 {
      width: 50%;
    }
  
  }

/* Desktop Styles */
@media (min-width: 769px) {

    .half-width {
      width: 50%;
    }
  
    #contact h3 {
      width: 30%;
    }
  
  }

