/* Base Styles */

html {
    font-size: 16px;
  }

body { 
    background-color: #eee4f0;
    font-family:Arial, Helvetica, sans-serif;
    color: #351D77;
}


/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 15px 0;
  }
  
  header .content-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  
  header figure {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  
  .header-divider {
    background: #351D77; 
    height: 1px;
    width: 100%;
    margin: 10px 0 20px 0;
  }
  
  header nav {
    width: 60%;
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }
  
  header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  header nav ul li {
    font-size: 1.125em;
  }


  /* Hero Area */ 

  .hero-area {
    background: url(../img/purple-background.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  .hero-area h2 {
    font-size: 4em;
    font-weight: 600;
    line-height: 2;
  }


/* About Me */

#aboutme {
  display: flex;
  flex-direction: row;
}

#aboutme h2 {
  font-size: 3em;
  margin-bottom: 40px;
  line-height: 1;
}

#aboutme img {
  max-width: 50%;
  max-height: 500px;
}

#aboutme p {
  max-width: 50%;
  margin-left: 20px;
} 


/* Skills */

#skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}

#skills .content-wrapper {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#skills h2 {
  margin-bottom: 40px;
  line-height: 1;
}

#skills-content {
  margin-bottom: 50px;
}

#skills-content h3 {
  line-height: 1.333;
}


/* Projects */ 

.projects-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-items article {
  margin: 20px; 
}

.projects-image img {
  max-width: 33%;
}

.projects-image, 
.projects-names,
.projects-description {
  margin-bottom: 20px;
}

/* Footer */
/* Contact */

footer {
  text-align: center;
  flex-direction: column;
}


/* Media query for viewports at least 768px wide */
@media only screen and (min-width: 768px) {
  /* CSS rules here */ 
}

/* Media query for viewports at least 1200px wide */  
@media only screen and (min-width: 1200px) {
  /* CSS rules here */ 
}